@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
h1{
    font-size: 50px;
}
body{
    height:100%;
}
.panel{
    width:90%;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.comic-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px; 
}
#resultContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    margin: 30px 20px 30px 20px; width:300px; height: 500px; overflow-y: auto;
}
.card::-webkit-scrollbar {
    width: 6px; 
}

.card::-webkit-scrollbar-thumb {
    background-color: #888;
}

.card::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}
.control{
    margin: 5px 0px 0px 10px;
}

.heart-icon.favorited {
    color: #e2264d;
    animation: heart-animation-red 0.3s ease;
}

.heart-icon.not-favorited {
    color: #7e7e7e; 
    animation: heart-animation-grey 0.3s ease;
}

.heart-icon.fa-heart {
    font-size: 2em;
    cursor: pointer;
    align-self: center;
    margin-left: 2%;
}
/* animation for grey */
@keyframes heart-animation-grey {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
/* animation for red */

@keyframes heart-animation-red {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}